@font-face {
    font-display: swap;
    font-family: 'Graphik LCG';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/GraphikLCG-Medium.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Medium.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
    url('../fonts/Gilroy-ExtraBold.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/Gilroy-Medium.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.page-main {
    color: #000;
    font-family: 'Gilroy', sans-serif;
    height: 100vh;
    width: 100%;
}



.center {
    align-items: center;
    background-color: #222020;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*.main-content {*/
/*
/*
/*
/*    */
/*    height: 100vh;*/
/*    */
/*}*/

/*.main-content__title {*/
/*    color: #fff;*/
/*    font-family: 'Graphik LCG', sans-serif;*/
/*    margin-bottom: 30px;*/
/*}*/

/*.nav-main__link--download {*/
/*    background-color: #2f1ce4;*/
/*    border: 3px #2f1ce4 solid;*/
/*    color: #fff;*/
/*    padding: 20px;*/
/*}*/

/*.nav-main__link--detail {*/
/*    background-color: rgba(0, 0, 0, .0);*/
/*    border: 3px #fff solid;*/
/*    color: #fff;*/
/*    padding: 20px;*/
/*}*/

/*.container {*/

/*}*/

/*.container__link--back {*/
/*    background: url("../img/return.png") no-repeat left center;*/
/*    background-size: 15px;*/
/*    padding-left: 30px;*/
/*}*/

/*.container__title--info {*/
/*    color: #222020;*/
/*    font-size: 48px;*/
/*    margin-top: 100px;*/
/*    padding-left: 100px;*/
/*}*/

/*.container__caption {*/
/*    color: #2f1ce4;*/
/*    font-size: 36px;*/
/*    margin: 100px 0 25px;*/
/*    padding-left: 180px;*/
/*}*/

/*.container__list {*/
/*    font-size: 18px;*/
/*    padding-left: 200px;*/
/*}*/

/*ol > .container__item:first-child > a {*/
/*    color: #2f1ce4;*/
/*    text-decoration: underline;*/
/*}*/

/*ul > .container__item {*/
/*    color: #2f1ce4;*/
/*}*/

/*.item-container__description {*/
/*    color: #000;*/
/*}*/

/*.caption__description {*/
/*    margin-bottom: 20px;*/
/*    padding-left: 180px;*/
/*}*/

/*.container__img {*/
/*    margin: 50px 0;*/
/*    padding-left: 200px;*/
/*    text-align: center;*/
/*}*/

/*.img-container__image {*/
/*    max-width: 400px;*/
/*}*/

/*table {*/
/*    border-collapse: collapse;*/
/*    margin-top: 100px;*/
/*}*/

/*th, tr, td {*/
/*    border: 1px #a0a0a0 solid;*/
/*    padding: 5px;*/
/*}*/

/*tfoot td {*/
/*    color: #2f1ce4;*/
/*    text-align: center;*/
/*}*/

/*body {*/
/*    background: url("../img/Фигура 1.png") bottom no-repeat;*/
/*    height: 2200px;*/
/*}*/

/*.container__logo {*/
/*    font-size: 40px;*/
/*    font-weight: 500;*/
/*    margin-top: 28px;*/
/*}*/

/*.container__back {*/
/*    margin-top: 60px;*/
/*}*/

/*.container__title {*/
/*    margin: 104px 0 83px 100px;*/
/*}*/

/*.container__modules {*/
/*    font-family: 'Gilroy', serif;*/
/*    margin: 0 auto;*/
/*    width: 1020px;*/
/*}*/

/*.module_item {*/
/*    background-color: #fff;*/
/*    border: 1px solid #ccc;*/
/*    box-shadow: 0 0 15px 6px #ccc;*/
/*    display: inline-block;*/
/*    margin-bottom: 60px;*/
/*    min-height: 505px;*/
/*    vertical-align: middle;*/
/*    position: relative;*/
/*    width: 45%;*/
/*}*/

/*.module-item__title {*/
/*    color: #2f1ce4;*/
/*    font-size: 36px;*/
/*    margin: 29px 0 29px 52px;*/
/*}*/

/*.module-item__text {*/
/*    color: #222020;*/
/*    display: block;*/
/*    font-size: 16px;*/
/*    margin: 0 0 21px 52px;*/
/*}*/

/*.right {*/
/*    margin-left: 5%;*/
/*}*/

/*.module-item__img{*/
/*    width: 100%;*/
/*}*/

/*.number {*/
/*    bottom: 20px;*/
/*    color: #eaeaea;*/
/*    font-size: 50px;*/
/*    font-weight: 500;*/
/*    position: absolute;*/
/*    right: 20px;*/
/*}*/

/*.btn__show-more {*/
/*    background-color: #fff;*/
/*    border: 3px solid #2f1ce4;*/
/*    color: #2f1ce4;*/
/*    display: block;*/
/*    height: 80px;*/
/*    margin: 0 auto;*/
/*    width: 280px;*/
/*}*/